* {
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

table {
    margin-left: 21%;
    margin-top: 6%;
    width: 78%;
}

table tr {

}

table td {
    padding: 2%;
}

input {
    height: 30px;
    border-radius: 6px;
    border: 1px solid #d3dbde;
}

span {
    margin-left: 6%;
}

.address{
	width: 56%;
}

.money {
    width: 56%;
}

.btns {
    margin-left: 27%;
    margin-top: 5%;
}

button {
	width: 74px;
    height: 35px;
    background-color: #3893C7;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #3893C7;
}

.add {

}

.cancel {
	background-color: #CFD5D8;
	color: #000000;
	font-weight: normal;
	border: 1px solid #CFD5D8;
}

.choose-area {
    height: 30px;
    border-radius: 6px;
    border: 1px solid #d3dbde;
    width: 57%;
}
